@model IEnumerable<FurnitureShop.Areas.Seller.Data.ProductViewModel>
@{

    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@*<a href="~/Views/Partial_Views/_NavWithCategories.cshtml">~/Views/Partial_Views/_NavWithCategories.cshtml</a>*@
@Html.Partial("~/Views/Partial_Views/_NavWithCategories2.cshtml")
<div class="ads-grid  ">
    <div class="container-fluid">

        @*@Html.Partial("~/Views/Partial_Views/_NavWithCategories.cshtml")*@
        <div class="row">
            <div class="col-lg-2 col-sm-4 col-md-3 mt-lg-0 mt-4 me-1 p-lg-0 border-right shadow-sm">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel py-2">
                        <h3 class="agileits-sear-head mb-3">Filters</h3>
                        <hr />
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Price</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="#">Under $1,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">$1,000 - $5,000</a>
                                </li>
                                <li>
                                    <a href="#">$5,000 - $10,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">$10,000 - $20,000</a>
                                </li>
                                <li>
                                    <a href="#">$20,000 $30,000</a>
                                </li>
                                <li class="mt-1">
                                    <a href="#">Over $30,000</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                    <!-- discounts -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Discount</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">5% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">10% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">20% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">30% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">50% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">60% or More</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev border-bottom left-side py-2">
                        <h3 class="agileits-sear-head mb-3">Customer Review</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- electronics -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Electronics</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Cameras & Photography</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Car & Vehicle Electronics</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Computers & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">GPS & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Headphones</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Home Audio</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Home Theater, TV & Video</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Mobiles & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Portable Media Players</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Tablets</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Telephones & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Wearable Technology</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //electronics -->
                    <!-- delivery -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Cash On Delivery</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Eligible for Cash On Delivery</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //delivery -->
                    <!-- arrivals -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">New Arrivals</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Last 30 days</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Last 90 days</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //arrivals -->
                    <!-- best seller -->
                    <div class="f-grid py-2">
                        <h3 class="agileits-sear-head mb-3">Best Seller</h3>
                        <div class="box-scroll">
                            <div class="scroll">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="images/k1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
                                        <a href="" class="price-mar mt-2">$12,990.00</a>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="images/k2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Haier 195 L 4 Star Direct-Cool Single Door Refrigerator</a>
                                        <a href="" class="price-mar mt-2">$12,499.00</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="images/k3.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
                                        <a href="" class="price-mar mt-2">$1,199.00 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //best seller -->
                </div>
                <!-- //product right -->
            </div>


            @if (Model.Count() < 1)
            {
                    <div class="text-center m-4">
             
                        <h5>No Result Found!</h5>
                
                    </div>
           
            }
            else
            {
                <div class="agileinfo-ads-display col-10 col-sm-8 col-md-9 col-lg-10">
                    <div class="wrapper">
                        <!-- first section -->
                        <div class=" px-sm-4 px-3 py-sm-5  py-3 mb-4">

                            <div class="row">
                                @foreach (var item in Model)
                                {


                                    <div class="col-sm-6 col-md-4 col-lg-3 product-men mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <a href="@Url.Action("Product", "Home",new {id= @item.product_id })" target="_blank">
                                                    @if (item.url != null)
                                                    {
                                                        <img src="@Url.Content(item.url.ToString())" height="180" width="180" alt="">

                                                    }
                                                    else
                                                    {

                                                        <img src="~/Images/Utilities/No-Image-Placeholder.svg.png" height="180" width="180" alt="No Image">
                                                    }
                                                </a>
                                                @*<div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>*@
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="single.html">@item.product_name</a>
                                                    
                                                </h4>
                                                <h4>@item.product_id</h4>
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">@item.list_price</span>
                                                    <del>$280.00</del>
                                                </div>
                                                @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart" />
                                                        <input type="hidden" name="add" value="1" />
                                                        <input type="hidden" name="business" value=" " />
                                                        <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                        <input type="hidden" name="amount" value="200.00" />
                                                        <input type="hidden" name="discount_amount" value="1.00" />
                                                        <input type="hidden" name="currency_code" value="USD" />
                                                        <input type="hidden" name="return" value=" " />
                                                        <input type="hidden" name="cancel_return" value=" " />
                                                        <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                                    </fieldset>
                                                </form>
                                            </div>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>